@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
 .bg-home1 {
  background-image: url('./assets/hero-bg-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }
}